.navBar{
    display: flex;
    height: 45px;
    padding:  0.9vw 1.5vw;  
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
    width:auto;
}
.logo{

}
.features{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    gap:2.4vw;
}

.navBar_Button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.7px;
    border-radius: 1.35px; 
    bottom: 0;
    left: 0;
    background-color: #007BFF; /* Change this color to your desired underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .navBar_Button:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .navBar_Button:active{
    color: #007BFF;
  }