*{
  padding: 0;
  margin: 0;

}
.navBar{
    display: flex;
    height: 75px;
    padding:  2vw 2vw;  
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 8px 32px 0px rgba(17, 17, 26, 0.05), 0px 4px 16px 0px rgba(17, 17, 26, 0.05);
    width:auto;
}
.logo{

}
.features{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    gap:3.4vw;
}
.navBar_Button{
  text-align: center; 
  color: #404040;
background-color: inherit;
position: relative;
transition: color 0.3s ease;
color: var(--primery, #023E7D);

/* subtle-medium */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */ 
}
.navBar_Button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.7px;
    border-radius: 1.35px; 
    bottom: 0;
    left: 0;
    background-color: #023E7D; /* Change this color to your desired underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .navBar_Button:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .navBar_Button:active{
    color: #023E7D;
  }
  .profilePics{
  max-width: 50px;
}
.solved{
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid #367F3E;

/*font*/
color: var(--secondary, #38B000);

/* body-medium */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
}

.not_solved{
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
border: 1px solid var(--slate-400, #94A3B8);
}

.post{
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex-shrink: 0;
  border-radius: 12px;
background: var(--white, #FFF);
}
.profileInfo{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.personalInfo{
  display: flex;
align-items: center;
gap: 12px;
}
.postDate{
  color: var(--slate-400, #94A3B8);

  /* small */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.container{
  display: flex;
  align-items: center;
  max-width: 381px;
  gap: 24px;
}
.postContent{
  color: var(--slate-500, #64748B);

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.interaction{
  display: flex;
justify-content: space-between;
align-items: center;
gap: 12px;
flex-shrink: 0;
align-self: stretch;
border-top: 1px solid #CBD5E1;;
}
.comment_Button{
    background-color: transparent;
    border: none;
    padding: 0;
}
.Answers{
  color: var(--slate-500, #64748B);

/* body */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.question{
  display: flex;
padding: 6px;
align-items: center;
gap: 12px;
border-radius: 12px;
}
.likes{
  display: flex;
padding: 6px;
align-items: center;
gap: 12px;
border-radius: 12px;
}
.menu_button{
  background-color: transparent;
  padding: 0;

}
.info_of_the_statu{
  display: flex;
  gap:10px;
}
.postDate{
  padding-right: 3vw;
}
.comment{
  display: flex;
  max-width: 538px;
background-color: white;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
}
.commentHeader{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 15px;
}
.commentList{
  display: flex;
align-items: center;
gap: 24px;
}
.commentProfile{
  color: var(--gray-900, #111827);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.commentContent{
  color: var(--slate-700, #334155);

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.reach{
  color: var(--slate-600, #475569);

/* p */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.commentDate{
  color: var(--slate-400, #94A3B8);

/* small */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 100% */
}
.commentReach{
  display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}
.buttonCommentaire{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.commenter_Profile_pics{
  width: 30px;
}
.commentl{
  display: flex;
max-width: 538px;
height: 115px;
padding-left: 24px;
justify-content: space-between;
align-items: center;
border-radius: 12px;
background: var(--slate-50, #F8FAFC);
}
.normalNavigate{
  display: flex;
padding: 6px 12px;
align-items: flex-start;
  color: #000;
  background: #FFF;

/* subtle-medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
.greenNavigate{
  display: flex;
padding: 6px 12px;
align-items: flex-start;
border-radius: 4px;
background: var(--Green-100, #D7FDC5);
color: #000;

/* subtle-medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
.navigate{
  display: flex;
max-width: 498px;
padding: 4px 5px;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 6px;
background: #FFF;
}
.card{
display: flex;
flex-direction: column;
padding-top:60px; 
justify-content: center;
align-items: start; 
width: 640px;
padding-bottom: 20px;
flex-shrink: 0;
gap:10px;
border-radius: 24px;
background: var(--primery, #023E7D);
}
.personIncrd{
  width: 96px;
height: 96px;
flex-shrink: 0;
border-radius: 96px;
border: 4px solid var(--white, #FFF);
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.ranked{
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}
.name{
  color: var(--white, #FFF);

/* h3 */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: -0.144px;
}
.AnswerCrd{
  display: flex;
  padding: 14px 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.PostCrd{
  display: flex;
padding: 14px 48px;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-radius: 12px;
background: var(--slate-50, #F8FAFC);
}
.PointCrd{
  display: flex;

padding: 14px 48px;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-radius: 12px;
background: var(--secondary, #38B000);
}
.AnswerCrd2{
  color: rgba(255, 255, 255, 0.60);

/* h3 */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: -0.144px;
}
.AnswerCrd3{
  color: var(--white, #FFF);

/* h1 */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 48px; /* 100% */
letter-spacing: -0.576px;
}
.PostCrd2{
  color: var(--slate-700, #334155);

/* h3 */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: -0.144px;
}
.PostCrd3{
  color: var(--secondary, #38B000);

/* h1 */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 48px; /* 100% */
letter-spacing: -0.576px;
}
.PointCrd2{
  color: rgba(255, 255, 255, 0.60);

/* h3 */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: -0.144px;
}
.PointCrd3{
color: var(--white, #FFF);

/* h1 */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 48px; /* 100% */
letter-spacing: -0.576px;
}
.into{
  display: flex;
max-width: 364px;
padding: 0px 26px;
justify-content: center;
align-items: center;
gap: 24px;
}
.chatboot{
  z-index:1000;
  position: relative;
  display: flex;
 width: 300px;
 height: 340px;
  padding: 7.2px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23.4px;
  position: absolute;
right: 100.6px;
top: 190px;
border-radius: 14.4px;
background: #FFF;
box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.10), 0px 38px 38px 0px rgba(0, 0, 0, 0.09), 0px 85px 51px 0px rgba(0, 0, 0, 0.05), 0px 151px 60px 0px rgba(0, 0, 0, 0.01), 0px 236px 66px 0px rgba(0, 0, 0, 0.00);
}
.botlogo{
  width: 28.8px;
height: 28.8px;
flex-shrink: 0;
}
.hadra{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: -3px;
}
.chat{
color: #454B58;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
}
.support{
  color: var(--IPFT-GreyText, #667085);
font-family: Inter;
font-size: 10.8px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 166.667% */
}
.bootfeat{
display: flex;
padding: 0px 14.4px;
justify-content: space-between;
align-items: center;
gap: 10px;
}
.welcome{
  
  max-width: 262.8px;
height:340px;
}
.welcoming{
  display: inline-flex;
padding: 8.4px 13.2px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 6px;
border: 0.6px solid #E3E3E3;
background: #FFF;
width: 200px;
  color: var(--IPFT-GreyText, #667085);
  font-family: Inter;
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 166.667% */
}
.welcoming2{
  display: inline-flex;
padding: 8.4px 13.2px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 6px;
background: var(--primery, #023E7D);
  position: absolute;
  top:160px ;
  right:10px;
  color: #FFF;
font-family: Inter;
font-size: 10.8px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 166.667% */
}
.welcoming3{
  display: inline-flex;
  padding: 8.4px 13.2px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  background: var(--primery, #023E7D);
    position: absolute;
    top:200px ;
    right:10px;
    color: #FFF;
  font-family: Inter;
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 166.667% */

}